name: Build and Push the Docker Image to DockerHub
on:
  workflow_dispatch:
    inputs:
      run_number:
        description: 'Run action to build model'
        required: true
        default: 'build-model'

run-name: build-and-push

jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Log in to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        
    - name: Build Docker image
      run: docker build -t ${{ secrets.DOCKER_USERNAME }}/diabetes-prediction:${{ github.run_number }} .
      
    - name: Tag as latest
      run: docker tag ${{ secrets.DOCKER_USERNAME }}/diabetes-prediction:${{ github.run_number }} ${{ secrets.DOCKER_USERNAME }}/diabetes-prediction:latest
      
    - name: Push Docker image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/diabetes-prediction:${{ github.run_number }}
        docker push ${{ secrets.DOCKER_USERNAME }}/diabetes-prediction:latest